@use "../../app.scss" as *;

.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;

        @include mobile{
            justify-content: flex-end;
            padding: 20px;
        }

        span{
            font-weight: bold;
            margin:60px;
            // self made font size
            font-size: 40px;

            @include mobile{
                display: none;
            }
        }

        .social{
            display: flex;
            gap:20px;

            img{
                height: 18px;
                width: 18px;
            }
        }
    }
}